@charset "utf-8";
* {
    box-sizing:border-box;
}

body {
    width: 100vw;
    padding: 2.5vw;
}
.selected, .hand {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

img {
    width: 25vw;
    height: 25vw;
    margin-left: 5vw;
}

.you, .cpu {
    width: 40vw;
}

.title, .result {
    margin-bottom: 10vh;
    text-align: center;
    padding: 0 auto;
}

.hand li {
    margin-right: 3vw;
}